In [13]:
import pandas as pd 
steam = pd.read_csv("../data/steam-200k.csv", names=["UserId", "Game", "Activity", "Value", "Unused"])
steam.drop(columns="Unused", inplace=True)
steam.head()
#steam.describe()

      UserId                        Game  Activity  Value
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0
2  151603712                   Fallout 4  purchase    1.0
3  151603712                   Fallout 4      play   87.0
4  151603712                       Spore  purchase    1.0

In [15]:

user = pd.read_csv("../data/user_personalized_features.csv")
user.head()

,Unnamed: 0,User_ID,Age,Gender,Location,Income,Interests,Last_Login_Days_Ago,Purchase_Frequency,Average_Order_Value,Total_Spending,Product_Category_Preference,Time_Spent_on_Site_Minutes,Pages_Viewed,Newsletter_Subscription
0,0,#1,56,Male,Suburban,38037,Sports,5,7,18,2546,Books,584,38,True
1,1,#2,46,Female,Rural,103986,Technology,15,7,118,320,Electronics,432,40,False
2,2,#3,32,Female,Suburban,101942,Sports,28,1,146,3766,Apparel,306,1,True
3,3,#4,60,Female,Suburban,71612,Fashion,18,3,163,4377,Apparel,527,29,False
4,4,#5,25,Male,Suburban,49725,Travel,2,5,141,4502,Health & Beauty,53,10,True

In [ ]:
#kaggle ml-latest movie
#https://www.kaggle.com/datasets/shubhammehta21/movie-lens-small-latest-dataset

# Tuttorial 
___

In [ ]:
# https://www.geeksforgeeks.org/build-a-recommendation-engine-with-collaborative-filtering/

user = pd.read_csv("../data/User.csv")
books = pd.read_csv("../data/Books.csv")
ratings = pd.read_csv("../data/Ratings.csv")

In [ ]:
books.info()

In [ ]:
books[books["Book-Title"].duplicated()].sort_values("Book-Title")
new_books = books.drop_duplicates("Book-Title")
books.info()

In [ ]:
ratings_with_name = rarings.merge(new_books, on="ISBN")
ratings_with_name = rarings.merge(["ISBN", "Image-URL-S", "Image-URL-M", "Image-URL-L", "Publisher"], axis=1, inplace=True)
ratings_with_name.head()

In [ ]:
matrix = ratings_with_name.merge(user, on="User-ID")

user_rating_matrix.head()

In [ ]:
ratings_with_name.isna().sum()
ratings_with_name.drop_na(inplace=True)

In [26]:
x = rating_with_name.groupby("User-ID").count()["Book-Rating"] > 100 
expert_users = x[x].index
expert_users

filtered_user_ratings = ratings_with_name[ratings_with_name["User-ID"].isin(expert_users)]

y = filtered_user_ratings.goupby("Book-Title").count()["Book-Rating"] >= 50
famous_books = y[y].index
user_ratings = filtered_user_ratings[filtered_user_ratings["Book-Title"].isin(famous_books)

NameError: name 'rating_with_name' is not defined

In [ ]:
design_matris = user_ratings.pivot_tables

In [25]:
t1 = pd.Series(range(10))
t1[t1].index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

scaler = StandardScaler(with_mean=True, with_std=True)
design_matrix_centered  = scaler.fit_transform(design_matrix)

In [ ]:
similarity_score = cosine_similarity(design_matrix_centered)
similarity_score
# Vi kan igentligen bar ta max värdet

In [ ]:
import numpy as np
def recommend(book_name):
    index = np.where(design_matrix_centered.index==book_name)[0][0]
    similar_books = sorted(list(list(enumerate(similarity_score[index])), key=lambda x: x[1], reverse=True)[1:6]
    data = []

    for index, similarity in similar_books:
        item = []
        temp_def = new_books["Book-Title"]==design_matrix.index[index]

In [ ]:
# Application
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

def load_data_files():
    books = pd.read_cv("../data/Books.csv")
    ratings = pd.read_cv("../data/Ratings.csv")
    books.drop_duplicates("Book-Title",inplace=True)
    merged = ratings.merge(books, on="ISBN")
    merged.drop(["ISBN", "Image-URL-S", "Image-URL-M", "Image-URL-L", "Publisher"], axis=1, inplace=True)
    merged.dropna(inplace=True)
    return merged, merged

# Problement med tabellen är att det finns förmånga rader, det är för mycket data för att hålla i RAM minnet
def extract_features(raw_table):
    # Ett filter för att solla bort alla som inte är expert users
    x = raw_table.groupby("User-ID").count()["Book-Ratings"] > 100
    expert_users = x[x].index # index av boolean pandas series

    filtered_ratings = raw_table[raw_table["User-ID"].isin(expert_users)]
    
    y = filtered_ratings.groupby("Book-Title").count()["Book-Rating"] >= 50
    famous_books = y[y]
    user_ratings = filtered_ratings[filtered_ratings["Book-Title"].isin(famous_books)]# index av boolean pandas series


def make_model(matrix):
    scaler = StandardScaler(with_mean=True, with_std=True)
    scaled = scaler.fit_transform(matrix)
    sim_score = cosine_similarity(scaled)
    return sim_score

def recommend(book_name, table, design_matrix, similarity_score):
    item = np.where(design_matrix.index==book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity_score[index])), key=lambda x: x[1], reverse=True)[1:6]
                           
    data = []
    for index, _ in similar_books:
        item=[]
        temp_df = table[table["Book-Title"]==design_matrix.index[index]]
        item.extend(temp_df["Book-Title"].values)
        item.extend(temp_df["Book-Author"].values)
        data.append(item)
    #temp_df = new_books[new_books]["Book-Title"]==design_matris
    return data
   

def main():
    books, table = load_data_files()
    matrix = extract_features(table)
    model =make_model(matrix)
    name = input("Input a book name")
    print(recommend(name, books, matrix, model))

if __name__ == '__main__':
    main()
# För att skapa en cell i .py fil
#%%